
<%
  const currentUserId = String(user && user.id ? user.id : (user && user._id ? user._id : ""));
  const ownerId = String(project && project.owner && project.owner._id ? project.owner._id : project.owner);
  const isOwner = currentUserId === ownerId;
%>

<div
  id="projectBoardPage"
  data-project-id="<%= project._id %>"
  data-is-owner="<%= isOwner %>"
  data-current-user-id="<%= currentUserId %>"
  data-owner-id="<%= ownerId %>"
  class="min-h-screen bg-gray-100 p-6"
>
  <%- include('../partials/project-board-header', { project, user, isOwner }) %>
  <%- include('../partials/project-board-columns', { project, taskLists, tasks, isOwner }) %>
</div>

<%- include('../partials/project-invite-modal', { project, user, isOwner, currentUserId, ownerId }) %>
<%- include('../partials/task-detail-modal') %>
<%- include('../partials/date-picker-modal') %>

<link rel="stylesheet" href="/css/project-board.css">
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script src="/js/project-board.js"></script>